<configuration>
  <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp/>
        <version/>
        <loggerName/>
        <threadName/>
        <message/>
        <logLevel/>
        <mdc>
          <includeMdcKey>run_id</includeMdcKey>
          <includeMdcKey>dataset_id</includeMdcKey>
          <includeMdcKey>model_id</includeMdcKey>
          <includeMdcKey>username</includeMdcKey>
          <includeMdcKey>component</includeMdcKey>
        </mdc>
        <context/>
        <stackTrace/>
      </providers>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="JSON"/>
  </root>
</configuration>
